@zephyr-background: #171614;
@zephyr-text: #D1CFCD;
@zephyr-user-online: #80B4DC;
@zephyr-user-ingame: #A0CC67;
@zephyr-user-offline: #898989;

@zephyr-ui-background: darken( @zephyr-background, 8% );
@zephyr-buttons: #693D99;

.noSpacing() {
	margin:  0;
	padding: 0;
}

* {
	border-radius: 0;
	-webkit-appearance: none;
}

html,
body {
	height: 100%;
	font-family: sans-serif;
}

body, h1 {
	.noSpacing;
}

@import "_interface";
@import "_tabs";
@import "_chat";
@import "_list";
@import "_names";