<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Zephyr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='js/reconnecting-websocket.js'></script>
    <script src='js/steam_language.js'></script>
    <script src='js/chat.js'></script>
    <link rel="stylesheet" href="css/zephyr.css"/>
</head>
<body>
<div id="container">
    <div class="left-bar">
        <div id="user">
            <img class="avatar online" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.User.AvatarRoot}}/{{.User.Avatar}}.jpg"/>
            <div class="info online">{{.User.Name}}</div>
        </div>
        <input type="text" placeholder="search" id="search">
        <div class="left-bar-list">
            <div class="header">Chats</div>
            <ul id="chats" class="content">
                <li>Billy Bob</li>
                <li>Jilly Bob</li>
            </ul>
            <div class="header">Friends</div>
            <ul id="friends" class="content">
                {{range .Friends}}
                <li id="friends-{{.SteamId}}">
                    <img class="avatar {{.State}}" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.AvatarRoot}}/{{.Avatar}}.jpg" />
                    <div class="info {{.State}}">
                        <div>{{.Name}}</div><div>{{.StateText}}</div>
                    </div>
                </li>
                {{end}}
            </ul>
            <div class="header">Groups</div>
            <ul id="groups" class="content">
                {{range .Groups}}
                <li id="groups-{{.SteamId}}">
                    <img class="avatar offline" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.AvatarRoot}}/{{.Avatar}}.jpg" />
                    <div class="info">
                        <div>{{.Name}}</div><div>{{.StateText}} In Chat</div>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
    <div id="chat-default" class="chat-bar">
        <div class="middle-bar">
            <div class="chat-header">
                <img class="avatar offline" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb.jpg"/>
                <div class="info">Group Name</div>
            </div>
            <ul class="messages">
                <li>Hello world</li>
            </ul>
            <form class="chat-form">
                <textarea aria-controls="chat" class="message-box" name="message-box" placeholder="enter message ..."></textarea>
                <input type="submit" class="btn" value="Send" class="send">
            </form>
        </div>
        <div class="right-bar">
            <div class="right-bar-list">
                <div class="header">Members</div>
                <ul class="content">
                    <li>
                        <div class="rank admin">★</div>
                        <img class="avatar online" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb.jpg" />
                        <div class="info online">
                            <div>Billy Bob</div><div>Online</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>