<html>
<head>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='reconnecting-websocket.js'></script>
    <script src='steam_language.js'></script>
    <script type="text/javascript">
    var server = "wss://zephyr.gamingrobot.net/ws"
    if (window.location.search === '?debug') {
        server = 'ws://localhost:3000/ws';
    }
    var c=new ReconnectingWebSocket(server);
    c.onopen = function(){
      c.onmessage = function(message){
        var steamevent = JSON.parse(message.data)
        console.log(steamevent);
        var newMessage = $('<li>').text(JSON.stringify(steamevent));
        $('#messages').append(newMessage);
      };
      $('form').submit(function(){
        var msg = $('#message').val();
        if(msg.length > 0){
            var chatmsg = {"Event": "SendMessageEvent", "Body": {"SteamId": $('#steamid').val(), "ChatEntryType": EChatEntryType.ChatMsg, "Message": msg}}
            console.log(chatmsg)
            console.log(JSON.stringify(chatmsg))
            c.send(JSON.stringify(chatmsg));
            $('#message').val('');
            return false;
        }
        return false;
      });
    }
    </script>
</head>
<body>
{{range .Friends}} 
    <a href="http://steamcommunity.com/profiles/{{.SteamId}}"><img src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.AvatarRoot}}/{{.Avatar}}.jpg" />{{.Name}} </a>{{.State}}, {{.SteamId}}<br/>
{{end}}
    <form>
         <input type="text" id="steamid" placeholder="enter steamid ...">
         <input type="text" id="message" placeholder="enter message ..." spellcheck="true">
        <input type="submit" class="btn" value="Send" id="send">
    </form>
    <ul id="messages"></ul>
</body>
</html>