<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Zephyr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    <script src='js/reconnecting-websocket.js'></script>
    <script src='js/steam_language.js'></script>
    <script src='js/chat.js'></script>
    <link rel="stylesheet" href="css/zephyr.css"/>
</head>
<body>
<div id="container">
    <div id="left-bar">
        <div id="user">
            <img class="avatar online" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.User.AvatarRoot}}/{{.User.Avatar}}.jpg"/>
            <div class="info online">{{.User.Name}}</div>
        </div>
        <input type="text" placeholder="search" id="search">
        <div id="left-bar-list">
            <div class="header">Chats</div>
            <ul class="content">
                <li>Billy Bob</li>
                <li>Jilly Bob</li>
            </ul>
            <div class="header">Friends</div>
            <ul class="content">
                {{range .Friends}}
                <li id="{{.SteamId}}">
                    <img class="avatar {{.State}}" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.AvatarRoot}}/{{.Avatar}}.jpg" />
                    <div class="info {{.State}}">
                        <div>{{.Name}}</div><div>{{.StateText}}</div>
                    </div>
                </li>
                {{end}}
            </ul>
            <div class="header">Groups</div>
            <ul class="content">
                {{range .Groups}}
                <li id="{{.SteamId}}">
                    <img class="avatar offline" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.AvatarRoot}}/{{.Avatar}}.jpg" />
                    <div class="info offline">
                        <div>{{.Name}}</div><div>{{.StateText}} In Chat</div>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
    <div id="middle-bar">
        <div id="chat-header">
            <img class="avatar offline" src="http://media.steampowered.com/steamcommunity/public/images/avatars/ff/ff360f0356caf0272118df54447a4555834182f8.jpg"/>
            <div class="info offline">Some Group Name</div>
        </div>
        <ul id="messages">
            <li>Hello world</li>
            <li>Hello world</li>
        </ul>
        <form id="chat-form">
            <textarea aria-controls="chat" id="message-box" name="message-box" placeholder="enter message ..."></textarea>
            <input type="submit" class="btn" value="Send" id="send">
        </form>
    </div>
    <div id="right-bar">
        <div id="right-bar-list">
            <div class="header">Members</div>
            <ul class="content">
                {{range .Friends}}
                <li id="{{.SteamId}}">
                    <div class="rank admin">★</div>
                    <img class="avatar {{.State}}" src="https://zephyr.gamingrobot.net/steamcommunity/public/images/avatars/{{.AvatarRoot}}/{{.Avatar}}.jpg" />
                    <div class="info {{.State}}">
                        <div>{{.Name}}</div><div>{{.StateText}}</div>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
</body>
</html>